.form {
  text-align: center;
}

#table {
  text-align: center;
}

.highlighted {
  background-color: #5EDDD7;
}

/*body {
  /*background-color: #D5CDBF;*/
  /*background: url(/images/diarypagfixed.jpg) no-repeat center center fixed; */
  /*background-size: 90% 770px;  */
 
/*}*/