<h1 id="maintitle">Contact List App</h1>
<h3 id="centertitle">Create a Contact</h3>

<div class="form">
<form>
  <div class="field">
    Name:<br>
    <input id="firstbox" type="text" name="firstname"><br>
  </div>
  <div class="field">
    Email:<br>
    <input id="emailbox" type="text" name="lastname"><br>
  </div>
  <!-- <div class="actions" -->
    <button id="button" class="btn btn-2 btn-2g" name="submit">Submit</button>
  <!-- </div> -->
</form>
</div>

<h3 style= 'text-align:center;'>Contact List Index</h3>



<div align="center" class="wrapper">
  <div class="table" id="indexlist">
    <div class="row header">
      <table id="table" align="center">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>

      </table>
    </div>
  </div>
</div>




<h3 id="searchcontact">Search a Contact</h3>
<div class="form">
<form>
  <div class="field">
    Search:<br>
    <input id="searchbyname" type="text" name="firstname"><br>
  </div>
  <!-- <div class="actions" -->
  <div>
    <button id="button2" class="btn btn-2 btn-2g" type="submit" name="submit">Submit</button>
    </div>
  <!-- </div> -->
</form>
</div>





